.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.active .sortIcon {
	display: block;

	margin-right: 8px;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort > span {
	display: grid;
	align-items: center;

	cursor: pointer;
	grid-template-columns: 20px 1fr;
	gap: 8px;
}

.sort > span:hover {
	color: var(--primary);
}

.sort > span:not(.active) {
	grid-template-columns: 1fr;
}
